<div class="card"  *ngIf="authState$ | async as authState">
  <ng-container *ngIf="post$ | async as post">
    <div class="header-nav">
      <div class="title-nav">
        <div  class="clickable" routerLink="/forums">Forums</div>
        <div>/</div>
        <div class="clickable" routerLink="/forums/{{post.forum.id}}">
          {{post.forum.name}}
        </div>
      </div>
      <button
        *ngIf="authState | isAuth"
        [routerLink]="['/forums', post.forum.id, 'new-post']"
        pButton
        class="smaller p-button-text p-button-sm smaller">
        <ng-icon name="jamPlus"></ng-icon>
        New Post
      </button>
    </div>
<div class="mt-5">

      <div class="post">
        <div class="buttons">
          <button
            *ngIf="authState.id === post.user.id"
            routerLink="/forums/{{post.forum.id}}/posts/edit/{{post.id}}"
            pButton
            class="p-button-sm nav p-button p-button-text"
            pTooltip="Edit Post"
            aria-label="edit-post"
            tooltipPosition="top">
            <ng-icon name="jamPencilF"></ng-icon>
          </button>
          <button
            *ngIf="authState | isAdmin"
            (click)="deletePost(post)"
            aria-label="delete-post"
            pButton
            class="p-button-sm nav p-button p-button-danger p-button-text"
            tooltipPosition="top"
            pTooltip="Delete Post">
            <ng-icon name="jamTrashF"></ng-icon>
          </button>
        </div>
        <div class="header">
          <span class="category" *ngIf="post.category"
            >{{post.category.name}}</span
          ><span class="title">{{post.title}}</span>
        </div>
        <div class="top">
          <div
            class="clickable"
            [routerLink]="['/profile', post.user.username]">
            {{post.user.username}}
          </div>
          <div class="sphere"></div>
          <div>{{post.createdAt | timeAgo}}</div>
        </div>
        <div class="content">{{post.content}}</div>
        <app-like [authState]="authState" [post]="post"></app-like>
      </div>
      <app-post-comments
        [authState]="authState"
        [post]="post"></app-post-comments>
</div>
  </ng-container></div>
