
button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.loading {
  background-color: #3B82F670;
  border-color: #3B82F670;
}
.question {
  color: var(--text-gray);
  margin-bottom: 1rem;
  font-weight: 600;
}
.help {
  text-align: center;
}
.auth-card {
  max-width: 30rem;
}
.google {
  width: 1.2rem;
  margin-right: 0.5rem;
}
.apple {
  width: 1.4rem;
  margin-right: 0.5rem;
}
.auth-button {
  color: var(--base-text);
}
.auth-button:hover {
  background-color: #21212110;
}
.auth-button:active {
  background-color: #21212115;
}
