<div class="forum" [routerLink]="['', 'forums', forum.id]">
  <div class="forum-icon-container desktop">
    <ng-icon class="desktop" name="heroChatBubbleOvalLeftEllipsisSolid" size="3rem"></ng-icon>
  </div>
  <div class="forum-info">
    <div class="text-xl font-bold mb-2">
      {{forum.name}}
    </div>
<!--    <div class="mt-1 mb-1 font-semibold text-lg">A basic forum description.</div>-->
    <div class="data">
      <div class="data-group">
        <div class="info">
          <ng-icon name="heroChatBubbleOvalLeftSolid" size="1rem"></ng-icon>
          <div>{{forum.posts.length}} discussions</div>
        </div>
      </div>
      <div class="data-group desktop">
        <div class="info">
          <ng-icon name="heroClockSolid" size="1rem"></ng-icon>
          <div *ngIf="forum.posts.length; else noDisc">
            latest: {{forum.posts[0].createdAt | timeAgo}}
          </div>
          <ng-template #noDisc>

            <div>latest: Nothing yet</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="btn">
    <button
      aria-label="edit-forum"
      *ngIf="authState | isAdmin"
      (click)="edit($event, forum.id)"
      pButton
      class="p-button-text p-button nav"
      pTooltip="Edit"
      tooltipPosition="right">
      <ng-icon name="jamPencilF"></ng-icon>
    </button>
    <button
      aria-label="delete-forum"
      *ngIf="authState | isAdmin"
      pButton
      (click)="delete($event)"
      class="p-button-text p-button p-button-danger nav"
      pTooltip="Delete"
      tooltipPosition="right">
      <ng-icon name="jamTrashF"></ng-icon>
    </button>
  </div>
</div>
