.forum {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.5rem 0.5rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.forum-icon {
  color: var(--base);

}
.forum-icon-container {
  background-color: #3B82F6;
  margin-right: 1rem;
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.info ng-icon {
  color: var(--text-gray);
  margin-right: 0.2rem;
}
.info {
  color: var(--text-gray);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}

.data {
  display: flex;
  column-gap: 2rem;
}
.btn {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
@media (min-width: 768px) {

}
