<div class="forum">
    <div class="forum-icon-container">
        <ng-icon class="forum-icon" name="jamMessagesF" size="2.5rem"></ng-icon>
    </div>

    <div class="forum-info">
        <div class="name link" [routerLink]="['', 'forums', forum.id]">{{forum.name}}</div>
        <div class="data">
            <div class="data-group">
                <div class="info">
                    <ng-icon name="jamMessageF" size="0.8rem"></ng-icon>
                    <div>{{forum.posts_count}} discussions</div>
                </div>
                <div class="info">
                    <ng-icon name="jamMessage" size="0.8rem"></ng-icon>
                    <div>{{forum.posts_count}} comments</div>
                </div>
            </div>
            <div class="data-group desktop">
                <div class="info">
                    <div>Latest discussion: {{forum.posts_count}}</div>
                </div>
                <div class="info">
                    <div>Latest comment: {{forum.posts_count}}</div>
                </div>
            </div>
        </div>

    </div>
    <div class="btn">
        <button [routerLink]="['', 'forums', 'edit', forum.id]" pButton class="p-button-text p-button  nav" pTooltip="Edit" tooltipPosition="right">
            <ng-icon name="jamPencilF"></ng-icon>
        </button>
        <button pButton (click)="delete()" class="p-button-text p-button p-button-danger nav" pTooltip="Delete" tooltipPosition="right">
            <ng-icon name="jamTrashF"></ng-icon>
        </button>
    </div>
</div>
