@import './shared/styles/variables';
app-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.main {
  margin-top: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: $desktop-min-width) {
  .main {
    padding: 2rem 0;
  }
}
