@import './shared/styles/variables';
app-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.main {
  margin-top: 3.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #3B82F610;
}
@media (min-width: $desktop-min-width) {
  app-header {
    position: static;
  }
  .main {
    margin-top: 0;
  }
}
