.post {
  border: 2px solid var(--border);
  border-radius: 1rem;
}
@media (max-width: 767px) {
  .post {border: none;
  padding: 0.5rem 0.5rem;
    transition: background-color 100ms ease-in-out;
  }
  .post:active {
    background-color: #e5e5e580;
  }
}
@media (min-width: 768px) {
  .post {
    padding: 1rem 1rem;
  }
  .post:hover {
    border-color: var(--text);
    cursor: pointer;
  }
}
.top {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-weight: 600;
  flex-wrap: wrap;
}
.body {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .body {
    flex-direction: row;
  }
}
//.post {
//  border: 1px solid var(--border);
//  border-radius: var(--radius);
//  padding: 0.5rem 0.5rem;
//  display: flex;
//  flex-direction: column;
//  row-gap: 1rem;
//  background-color: var(--base);
//}
.title {
  word-break: break-word;
}
//.post > * {
//  display: flex;
//  align-items: center;
//}

//
.category {
  flex-grow: 0;
  width: max-content;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--primary-color);
  color: var(--base);
  padding: 0.3rem;
  border-radius: var(--border-radius);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .category {margin-top: 0; }
}

.comments {
  font-weight: 600;
  align-items: center;
  display: flex;
  column-gap: 0.2rem;
  font-size: 1rem;
}
//.bottom {
//  justify-content: space-between;
//}
//.comments {
//  margin-right: 1rem;
//}

