.hamburger-menu {
  display: none;
  background-color: var(--base);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow-y: hidden;
  z-index: 999999;
}
.hamburger-menu.hamburger-menu-active {
  animation: fadeIn 200ms ease-in-out;
}
.hamburger-menu-closed {
  animation: fadeOut 200ms ease-in-out;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0;}
}
.header button {
  margin-left: auto;
  float: right;
  margin-top: 0.8rem;
  margin-right: 1rem;
}
.first {
  margin-top: 3.6rem;
}
