<div class="card" ontouchstart="">
    <ng-container *ngIf="forum$ | async as forum">
        <div class="header">
            <div class="title">{{forum.name}}</div>
            <button routerLink="./new-post" pButton class="smaller p-button-text p-button-sm smaller">
                <ng-icon name="jamPlus"></ng-icon>
                New Post
            </button>
        </div>
        <ng-container *ngFor="let post of forum.posts">
          <app-post [post]="post"></app-post>
        </ng-container>
    </ng-container>

</div>
