.title {
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  column-gap: 0.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  max-width: 50rem;
  transition: height 2s;
}
