<div class="card" ontouchstart="">
    <div class="header">
        <div class="title">Forums</div>
        <button (click)="openForumModal()" pButton class="smaller p-button-text p-button-sm smaller">
            <ng-icon name="jamPlus"></ng-icon>
            New
        </button>
    </div>
    <ng-container *ngIf="forums$ | async as forums">
        <ng-container *ngFor="let forum of forums">
            <app-forum [forum]="forum" (deleteForum)="openDeleteModal($event)"></app-forum>
        </ng-container>
    </ng-container>

</div>

<app-modal [(isVisible)]="forumModal" >
    <form class="modal-form" (ngSubmit)="onSubmit()">
        <h2>Create forum</h2>
        <div class="input-last">
            <label for="name">Forum name</label>
            <input [formControl]="form" pInputText type="text" id="name" placeholder="Forum name">
            <div class="error">
                <ng-container *ngIf="form.errors && form.dirty">
                    <ng-container *ngIf="form.errors['required']">
                        This field is required
                    </ng-container>
                    <ng-container *ngIf="!form.errors['required'] && form.errors['maxlength']">
                        Maximum 32 characters
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="top-error">{{error$ | async}}</div>
        <div class="double-submit">
            <button type="button" (click)="closeForumModal()" pButton class="p-button p-button-outlined">
                Cancel
            </button>
            <button pButton class=" p-button" [class.loading]="loading" [loading]="loading">
                <ng-container *ngIf="!loading">
                    <div>Create</div>
                </ng-container>
            </button>
        </div>
    </form>
</app-modal>

<app-modal [(isVisible)]="deleteModal">
    <form class="modal-form">
        <h2>Delete forum</h2>
        <ng-container *ngIf="toBeDeletedForum">
            <div class="details-text">
                Are you sure you want to delete <span class="forum-name">{{toBeDeletedForum.name}}</span>?
            </div>
            <div class="warning-text input-last">⚠ All related posts and comments will also be deleted</div>
        </ng-container>

        <div class="top-error">{{error$ | async}}</div>
        <div class="double-submit">
            <button type="button" (click)="closeDeleteModal()" pButton class="p-button p-button-outlined">
                Cancel
            </button>
            <button pButton class="p-button p-button-danger" [class.loading]="loading" [loading]="loading" (click)="deleteForum()">
                <ng-container *ngIf="!loading">
                    <div>Delete</div>
                </ng-container>
            </button>
        </div>
    </form>
</app-modal>
