.title {
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  column-gap: 0.5rem;
  color: var(--text-gray);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--border);
}




.top {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

svg {
  color: var(--contrast);
}
