<div class="card" ontouchstart="">
  <ng-container *ngIf="forum$ | async as forum">
    <div class="header">
      <div class="title">
        <div class="clickable" routerLink="/forums">Forums</div>
        <div>/</div>
        <div class="clickable" routerLink="/forums/{{forum.id}}">
          {{forum.name}}
        </div>
      </div>
      <button
        routerLink="./new-post"
        pButton
        class="smaller p-button-text p-button-sm smaller">
        <ng-icon name="jamPlus"></ng-icon>
        New Post
      </button>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</div>
