.navbar {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  max-width: 300px;
}
ng-icon {
  margin-right: 5px;
}
.separator {
  height: 1px;
  background-color: var(--border);
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}
.active-link.p-button.p-element {
  background-color: rgba(59, 130, 246, .10) !important;
}
.mobile-top {
  display: flex;
  flex-direction: column;
}
button {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .navbar {
    padding: 0;
  }
}
