<div class="navbar">
  <a class="nav-link" (click)="navigateToHome()"> Home </a>
  <a class="nav-link" (click)="navigateToForums()"> Forums </a>
  <a
    *ngIf="authState | isAuth"
    class="nav-link"
    (click)="navigateToProfile(authState.username)">
    Profile
  </a>
  <a *ngIf="authState | isAdmin" class="nav-link" (click)="navigateToAdmin()">
    Dashboard
  </a>
  <a *ngIf="authState | isAuth" class="nav-link logout" (click)="logout()">
    Log Out
  </a>
  <a
    *ngIf="!(authState | isAuth)"
    class="nav-link login mobile"
    (click)="navigateToLogin()">
    Log in
  </a>
  <a
    *ngIf="!(authState | isAuth)"
    class="nav-link signup"
    (click)="navigateToSignup()">
    Sign up
  </a>
  <button
    *ngIf="!(authState | isAuth)"
    pButton
    class="p-button-sm login desktop-btn login"
    (click)="navigateToLogin()">
    Log in
  </button>
</div>
