<div class="card card-form login-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2>Send password reset email</h2>
    <app-error [errorMessage]="error$ | async"></app-error>
  <div class="input mt-4">
    <label for="email">Email</label>
  <input formControlName="email" pInputTextarea type="text" placeholder="Email" id="email">
    <div class="error">
            <ng-container *ngIf="form.get('email') as email">
              <ng-container *ngIf="email.dirty && email.errors">
                <ng-container *ngIf="email.errors['required']">
                  This field is required
                </ng-container>
                <ng-container
                  *ngIf="!email.errors['required'] && email.errors['email']">
                  Invalid email address
                </ng-container>
              </ng-container>
            </ng-container>
    </div>
  </div>

    <div class="submit">
      <button
        pButton
        type="submit"
        class="p-button p-button-sm"
>
Send
      </button>
    </div>
  </form>
</div>

