
  <ng-container *ngIf="control$ | async as control">
    <ng-container *ngIf="control.dirty">
      <ng-container *ngIf="control.errors">
        <ng-container *ngFor="let error of errors;let i = index; trackBy: trackByFn">
          <ng-container *ngIf="control.errors[error.errorName]">
            <ng-container *ngIf="getCondition(i, error, control)">
              {{error.errorMessage}}
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
