<ng-container *ngIf="authState$ | async as authState">
  <div class="card" *ngIf="profileSubject$ | async as profile$">
    <ng-container *ngIf="profile$ | async as profile">
      <div class="page">
        <div class="profile mb-5 mt-5 ml-4 mr-4">
          <app-profile-picture
            [authState]="authState"
            [user]="profile.user"></app-profile-picture>
          <div class="text-lg flex-col justify-center">
            <div class="font-semibold">{{profile.user.username}}</div>
            <div>
              Joined Forumly
              <span class="font-semibold"
                >{{profile.user.createdAt | timeAgo}}</span
              >
            </div>
            <div>
              Role:
              <span class="font-bold"
                >{{profile.user.role.name | uppercase}}</span
              >
            </div>
          </div>
        </div>

        <div class="posts mt-5 mb-5">
          <div class="text-lg font-semibold mb-2 ml-4 mr-4">
            {{profile.user.username}}'s posts:
          </div>
          <ng-container *ngFor="let post of profile.posts;">
            <div class="desktop mt-4 mb-4"></div>
            <div class="post-separator mt-2 mb-2 mobile"></div>
            <app-post
              [forum]="true"
              [authState]="authState"
              [post]="post"
              [user]="false"></app-post>
          </ng-container>
          <div class="post-separator mt-2 mb-2 mobile"></div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
