.header {
  font-size: 1.5rem;
  background-color: var(--base);
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid var(--border);
  align-items: center;
  width: 100%;
}
.desktop {
  display: none;
}
.name {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .header {
    justify-content: start;
  }
  .desktop {
    display: block;
    width: 100%;
  }
}
