.top {
  color: var(--text);
  font-size: 0.9rem;
  column-gap: 0.3rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
//.comment {
//  padding: 0.5rem 0 0.5rem 0.5rem;
//
//  margin-bottom: 1rem;
//  background-color: var(--base);
//}
.content {
  border-left: 2px solid var(--border);
  margin-top:0.4rem;
  padding-left: 0.5rem;
  white-space: pre-wrap;
  word-break: break-word;
}
//button {
//  margin-left: auto;
//  align-self: flex-end;
//}
//.content-div {
//  align-self: center;
//}
button {
  padding: 3px;
  height: max-content;
  width: max-content;
}
