<div class="main" ontouchstart="">
  <div class="card">
    <div class="content">
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <h2>Log in</h2>
        <div class="input">
          <label for="username">Username or email</label>
          <input placeholder="Username or email" id="username" type="text" pInputText formControlName="username">
          <div class="error">
            <div
              *ngIf="loginForm.get('username')!.invalid && loginForm.get('username')!.dirty">
                <div *ngIf="loginForm.get('username')?.errors!['required']">
                  This field is required
                </div>
            </div>
          </div>
        </div>
        <div class="input-last">
          <label for="password">Password</label>
          <p-password  [feedback]="false" [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}" placeholder="Password" id="password"
                      formControlName="password" [toggleMask]="true"></p-password>
          <div class="error">
            <div
              *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.dirty">
              <div *ngIf="loginForm.get('password')?.errors!['required']">
                This field is required
              </div>
            </div>
          </div>
        </div>

        <div class="top-error">{{error$ | async}}</div>
        <div class="submit">

          <button pButton type="submit" class="p-button" [class.loading]="loading" [loading]="loading">
              <ng-container *ngIf="!loading">
                <div>Log in</div>
                </ng-container>
            </button>
        </div>
      </form>
      <div class="help">
        <div class="link">Forgot your password?</div>
          <div class="question">Don't have an account?</div>
          <div class="link" routerLink="/signup">Sign up for Forumly</div>
      </div>
    </div>
  </div>
</div>


