@import "primeng/resources/primeng.css";
@import url('theme/theme.css');
@tailwind utilities;

:root {
  --border: rgb(209, 213, 219);
  --base: #FEFEFE;
  --error: #dc2626;
  --base-text: #212121;
  --text-gray: #737373;
  --md-min-width: 768px;
  --lg-min-width: 1024;
  --box-shadow: rgba(149, 157, 165, 0.1) 0px 0px 16px;
  --radius: 15px;
  --contrast: #3B82F6;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  width: 100%;
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  font-weight: 500;
  width: 100%;
  color: var(--base-text);
  background-color: var(--base);
  overflow-y: scroll;

}


.desktop {
  display: none;
}
.desktop-btn {
  display: none
}
@media (min-width: 768px) {
  .desktop {
    display: block;
  }
  .desktop-btn {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

/* BUTTON STYLES */
button {
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  height: 2.9rem;
  transition: 120ms ease-in-out;
  border-width: 2px;
}
button:active {
  transform: scale(0.975);

}
button.nav {
  height: 2rem;
  width: 2rem;
}
.p-fileupload-choose.p-button {
  border-radius: 100px !important;
}
.p-fileupload-choose.p-button:focus {
  box-shadow: none !important;
}
.p-fileupload-choose.p-button:active {
  transform: scale(0.975);
}
button:focus {
  box-shadow: none !important;
}
button.smaller {
  height: 2.5rem;
}
button.test {
  width: fit-content;
  height: fit-content;
}

/* CARD STYLES */
.card {
  margin: auto;
  max-width: 45rem;
}
.card-form {

}
@media (min-width: 768px) {
  .card-form {
    margin-top: 1rem;
    padding: 1rem 0 2rem 0;
    border: 2px solid var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    max-width: 35rem;
  }
}

/* LINK STYLES */
.link {
  font-weight: 600;
  cursor: pointer;
  transition-duration: 200ms;
  width: max-content;
  user-select: none;
}
.link:active {
  transform: scale(0.96);
  color: var(--contrast);
}
@media (min-width: 768px) {
  .link:hover {
    color: var(--contrast);
  }
}

.clickable {
  transition-duration: 200ms;
  cursor: pointer;
}
.clickable:active {
  text-decoration: underline;
}
.clickable::selection {
  background-color: transparent;
}

/* SEPARATOR */
.separator {
  height: 2px;
  background-color: var(--border);
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
}

/* FORM STYLES START */
input {
  font-weight: 600;
  border-width: 2px;
}
form {
  width: 100%;
  max-width: 25rem;
  margin: auto;
  padding: 0 1rem;
}
h2 {
  margin:1rem 0 1rem 0;
  text-align: center;
}
.p-component {
  border-width: 2px;

}
.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 0.7rem;
}
.input-last {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.error {
  min-height: 1.1rem;
  font-size: 0.8rem;
  color: var(--error);
  font-weight: 500;
}
.top-error {
  min-height: 1.2rem;
  font-size: 0.9rem;
  color: var(--error);
  font-weight: 500;
  margin: 0.5rem 0 0.5rem 0 ;
  width: 100%;
}
label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 4px;
}
.double-submit {
  display: flex;
  justify-content: space-between;
}
.double-submit button{
  width: 48%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.submit button {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* FORM STYLES END */

.loading {
  background-color: #3B82F670;
  border-color: #3B82F670;
}

.p-tooltip {
  font-size: 0.9rem !important;
}
.p-dropdown {
  width: 100% !important;
}
.sphere {
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--border);
  border-radius: 100px;
}

@media (max-width: 767px) {
  .nav-icon {
    transition-duration: 200ms;
  }
  .nav-icon:hover {
    background-color: transparent;
  }
  .nav-icon:active {
    transform: scale(0.96);
    background-color: transparent;
  }
}
.post-separator {


}
@media (max-width: 767px) {
  .post-separator {
    height: 2px;
    background-color: var(--border);
  }
}
