<div class="card">
  <div class="top ml-4 mr-4">
    <h3 class="desktop text-2xl font-bold">Dashboard</h3>
    <button
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active-link"
      pButton
      class="smaller p-button p-button-text p-button-sm"
      routerLink="/admin">
      Admins
    </button>
    <button
      routerLinkActive="active-link"
      pButton
      class="smaller p-button p-button-text p-button-sm"
      routerLink="/admin/statistics">
      Statistics
    </button>
  </div>
  <div class="mr-4 ml-4">
    <router-outlet></router-outlet>
  </div>

</div>
