@import '../../../shared/styles/variables.scss';
h2 {
  margin:0 0  2rem 0;
  max-width: 20rem;
}
button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.loading {
  background-color: #3B82F670;
  border-color: #3B82F670;
}
.question {
  color: var(--text-gray);
  margin-bottom: 1rem;
}
.main {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
@media (min-width: $desktop-min-width ) {
  .content {
    width: 30rem;
  }
}
